@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General styles */

body {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.title {
    font-size: 3.75rem;
    line-height: 4.5rem;
}

.subtitle {
    font-size: 1.7rem;
    line-height: 2rem;
}

.text {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

/* Header styles */

header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 9.4rem;
    z-index: 5;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
}

nav {
    height: 4rem;
}

.menu-list {
    display: flex;
    height: 3.75rem;
}

a {
    text-decoration: none;
    color: black;
}

.menu-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin: 0 1.75rem;
}

.blue-button {
    text-transform: uppercase;
    border-radius: 87px;
    background-color: #7ae5fd;
    padding: 1.25rem 2.1rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

/* First screen */
.first-screen {
    background-image: url(/assets/images/Frame121461.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 9.4rem;
}

.first-screen__container {
    margin-top: 8rem;
}

.first-screen__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
    color: #fff;
}

.main-title {
    font-weight: 800;
    font-size: 3.9rem;
    line-height: 3.75rem;
    text-transform: uppercase;
}

.main-description {
    margin: 20px 0;
    color: #000;
}

.blue-button {
}

.white-button {
    background-color: #fff;
}

/* Info section */

.info-container {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    text-align: center;
}
.info-subtitle {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 15px auto;
}
.info-text {
    color: #73a6b1;
}

/* Description section */

.description-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

.description-screen img {
    border-radius: 10px;
}

.description-block {
    display: flex;
    padding: 2.5rem 3.75rem;
    margin-bottom: 3rem;
    background-color: #f1fdff;
}
.description-block__text {
    margin: auto 3.75rem auto 0;
}
.desc-header {
    font-size: 2.9rem;
    line-height: 3.4rem;
}
.desc-text {
    margin-top: 1rem;
}

/* Goal section */

.goal-section {
    position: relative;
    display: flex;
}
.goal-title {
    margin: 13.75rem auto;
    background-color: #f1fdff;
}
.goal-title h3 {
    width: 45%;
    margin: 5.6rem auto;
    margin-left: 3.75rem;
}
.goal-back {
    margin: 13.75rem auto;
    position: absolute;
    right: 0;
    bottom: 0;
}
.goal-kids {
    margin: 13.75rem auto;
    position: absolute;
    right: 5rem;
    bottom: 0;
}

/* Counter section */

.donate-section {
    text-align: center;
    padding-bottom: 10rem;
}
.donate-title {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.donate-subtitle {
    color: #73a6b1;
}
.counter-block {
    margin: 3rem auto;
}
.counter-text {
    margin-bottom: 17px;
}
.counter-container {
    display: flex;
    justify-content: center;
}
.counter-container-item {
    padding: 0 13px;
}
.counter-container-2 {
    border-left: 2px solid #9ad2de;
    border-right: 2px solid #9ad2de;
}

/* Footer section */

.footer {
    background-color: #f9fadf;
}
.footer-container {
    padding-bottom: 10rem;
}
.contacts-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-top: 3rem;
}
.contacts-title {
    text-transform: uppercase;
    padding: 0 8rem 10rem 8rem;
}
.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10rem;
    margin-right: 10.5rem;
}
.contacts-info-number {
    font-weight: bold;
}
.email-block {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 3.75rem;
}
.email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5.8rem;
}
.email-form p {
    margin-right: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-email {
    margin: 1.5rem 0;
}
.form-item {
    border-radius: 61px;
    background-color: #f9fadf;
    border: none;
    height: 3rem;
    padding-left: 2rem;
    font-family: inherit;
}
input::placeholder {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #000;
}
